---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Accommodations from '../components/Accommodations.astro';
import Gallery from '../components/Gallery.astro';
import Experiences from '../components/Experiences.astro';
import Location from '../components/Location.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <About />
    <Accommodations />
    <Gallery />
    <Experiences />
    <Location />
    <Testimonials />
    <FAQ />
  </main>
  <Footer />
  <WhatsAppButton />
</Layout>
